
<form class="form" action="">		
    <div class="card">
      <div class="card-top">
        <img class="imglogin" src="https://img.flaticon.com/icons/png/512/126/126510.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="">
        <h2 class="titulo">Acesso usuário</h2>     					
      </div>
  
      <div class="card-group">
        <label>Usuário:</label>
        <input type="text" name="user" >
      </div>
  
      <div class="card-group">
        <label>Senha:</label>
        <input type="password" name="password" >
      </div>
  
      <div class="card-group btn">
        <button class="action-button">Entrar</button>
      </div>
    </div>
  </form> 
  <footer class="footer">
    <div class="footer-div">
      <p>Desenvolvido por <a class="linked" href="https://www.linkedin.com/in/henriquegarcia0401/" target="_blank">Henrique G.</a></p>
    </div>
  </footer>
  
  
  