
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <img class="img m-2 " src="../assets/img/fruitIcon.png" width="30" height="30">
    <a class="navbar-brand text-dark">Quitanda de Frutas</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand text-primary" routerLink="compra">Frutas</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-primary" routerLink="fruta">Gerenciar</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-primary" routerLink="carrinho">Carrinho</a>
        </li>   
        <li class="nav-item">
          <a class="navbar-brand text-primary" routerLink="login">Login</a>
        </li>     
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
